---
name: "Run Linters and Typechecking"
on:
  push:
    branches:
      - "main"
  pull_request:
    branches:
      - "*"
jobs:
  test:
    name: "Run Linters and Typechecking"
    runs-on: "depot-ubuntu-24.04-small"
    steps:
      - uses: "actions/checkout@v6"
      - uses: "actions/setup-node@v6"
        with:
          node-version: 24
          cache-dependency-path: "yarn.lock"
          cache: "yarn"
      - uses: "bahmutov/npm-install@v1"
      - name: "Run Eslint"
        run: "yarn run lint"
      - name: "Run formatting check"
        run: "yarn run format:check"
      - name: "Run Typescript type checking"
        run: "yarn run typecheck"
