---
name: "Release"
on:
  push:
    tags:
      - "*"
jobs:
  build-and-push-image:
    runs-on: "depot-ubuntu-24.04-4"
    permissions:
      contents: "write"
      packages: "write"
    steps:
      - uses: "actions/checkout@v6"
        with:
          lfs: "true"
          submodules: "recursive"
      - name: "Set up QEMU"
        uses: "docker/setup-qemu-action@v3"
      - name: "Set up Docker Buildx"
        uses: "docker/setup-buildx-action@v3"
        with:
          platforms: linux/amd64,linux/arm64,linux/arm/v8
      - name: "Log in to quay, ghcr and dockerhub"
        uses: "authzed/actions/docker-login@11667c9b2e8b3649ad2af4d788e57d18f8e8eaf1" # main
        with:
          quayio_token: "${{ secrets.QUAYIO_PASSWORD }}"
          github_token: "${{ secrets.GITHUB_TOKEN }}"
          dockerhub_token: "${{ secrets.DOCKERHUB_ACCESS_TOKEN }}"
      - name: "Extract metadata (tags, labels) for Docker"
        id: meta
        uses: "docker/metadata-action@v5.5.1"
        with:
          images: |
            quay.io/authzed/spicedb-playground
            ghcr.io/authzed/spicedb-playground
            authzed/spicedb-playground
          tags: |
            type=semver,pattern={{raw}}
      - name: "Build and push images to various registries"
        uses: "docker/build-push-action@v5.3.0"
        with:
          context: .
          platforms: linux/amd64,linux/arm64,linux/arm/v8
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
      - name: "Notify Slack if failure"
        if: "failure()"
        uses: "slackapi/slack-github-action@91efab103c0de0a537f72a35f6b8cda0ee76bf0a" # v2.1.1
        with:
          webhook: "${{ secrets.SLACK_WEBHOOK_URL }}"
          webhook-type: "incoming-webhook"
          payload: |
            text: "*Playground Release Failed*"
            blocks:
              - type: "section"
                text:
                  type: "mrkdwn"
                  text: |
                    @eng-oss *Playground Release Failed*. Please take a look.
                    *Repository:* <${{ github.server_url }}/${{ github.repository }}|${{ github.repository }}>
                    *Commit:* <${{ github.server_url }}/${{ github.repository }}/commit/${{ github.sha }}|${{ github.sha }}>
                    *Job Run:* <${{ github.server_url }}/${{ github.repository }}/actions/runs/${{ github.run_id }}|View Job Run>
                    *Actor:* ${{ github.actor }}
                    *Ref:* ${{ github.ref }}
                    *Workflow:* ${{ github.workflow }}
