---
name: "Run Tests"
on:
  push:
    branches:
      - "main"
  pull_request:
    branches:
      - "*"
jobs:
  test:
    name: "Run Tests"
    runs-on: "depot-ubuntu-24.04-small"
    steps:
      - uses: "actions/checkout@v4"
        with:
          submodules: true
      - uses: "authzed/action-spicedb@v1"
        with:
          version: "latest"
      - uses: "actions/setup-node@v4"
        with:
          node-version: 22
          cache-dependency-path: "yarn.lock"
          cache: "yarn"
      - uses: "bahmutov/npm-install@v1"
      - name: "Run tests"
        run: "yarn test"
